@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?vty8p3');
    src: url('../fonts/icomoon.eot?vty8p3#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?vty8p3') format('truetype'),
        url('../fonts/icomoon.woff?vty8p3') format('woff'),
        url('../fonts/icomoon.svg?vty8p3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

/* 版心 */
.w {
    width: 1200px;
    margin: 0 auto;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.style_red {
    color: #4a93f3;
}

/* 快捷导航模块 */
.shortcut {
    height: 30px;
    line-height: 25px;
    background-color: #f1f1f1;
}

.shortcut ul li {
    padding-right: 140px;
    float: right;
    font-size:20px;
}

.arrow-icon::after {
    content: '\e900';
    font-family: 'icomoon';
    margin-left: 6px;
}

/* header 头部制作 */
.header {
    height: 200px;
   /*  background-color: gray; */
    position: relative;
}

.motto {
    position: absolute;
    top: 25px;
    width: 250px;
    height: 200px;
    background-color:  #4a93f3;
    border-radius: 20%;
    text-align: left;
    padding-left: 25px;
    padding-top: 10px;
    color: white;
}

.motto a {
    display: block;
    width: 171px;
    height: 61px;
    font-size: 40px;
    color: white;
}

.motto:hover{
    background-color: rgb(153, 153, 153);
}

.logo{
    position: absolute;
    left: 320px;
    top: 40px;
    width: 500px;
    height: 200px;
    text-align: left;
    padding-left: 25px;
    padding-top: 10px;
}
.logo a {
    display: block;
    width: 500px;
    height: 61px;
    font-size: 70px;
    color: rgb(119, 119, 119);
}
.logo a:hover{
    color:#4a93f3;
}

.search {
    position: absolute;
    left: 346px;
    top: 160px;
    width: 538px;
    height: 50px;
    border: 2px solid #4a93f3;
}

.search input {
    float: left;
    width: 454px;
    height: 40px;
    padding-left: 10px;
    font-size:15px;
    line-height: 40px;
}

.search button {
    float: left;
    width: 80px;
    height: 48px;
    background-color: #4a93f3;
    font-size: 16px;
    color: white;
}
.search button:hover{
    background-color: #0f60ca;
}

.color{
    float:right;
    width:300px;
    margin-top: 30px;
}
.color>div{
    float:right;
    width:60px;
    height: 60px;
    margin-left:15px;
    border-radius: 30%;
    font-size:0px;
    text-align:center;
    line-height: 60px;
}
.color .first{
    background-color: #c6ddfc;
}
.color .second{
    background-color: #99c3fa;
}
.color .third{
    background-color: #64a5fa;
}
.color .fourth{
    background-color: #3a8cf8;
}
.color>div:hover{
    background-color: rgb(190, 190, 190);
    color:white;
    font-size:20px;
}

.color .register{
    float: right;
    width: 150px;
    height: 80px;
    background-color:  rgb(190, 190, 190);
    margin-top: 30px;
    margin-right:70px;
    font-size:20px;
    border-radius: 0%;
    color:white;
    line-height:80px;
    border-radius: 20%;
    text-align:center;
}
.color a .register{
    color:white;
}
.color .register:hover{
    background-color: #c6ddfc;
    color: #7c7c7c;
}
/* nav模块制作 */
.nav {
    height: 47px;
    border-bottom: 2px solid #4a93f3;
    margin:50px 0px;
}
.nav .dropdown{
    float:left;
    width: 210px;
    height: 45px;
    background-color: #4a93f3;
}
.nav .navitems{
    float:left;
}
.dropdown .dt{
    width: 100%;
    height:100%;
    color: #fff;
    text-align: center;
    line-height: 45px;
    font-size:16px;
}
.dropdown .dd{
    /* display:none; */
    width: 210px;
    height: 465px;
    background-color: #4a93f3;
    margin-top: 2px;
}
.dropdown .dd ul li{
    position: relative;
    height:31px;
    line-height: 31px;
    margin-left: 2px;
    padding-left: 10px;
    color:#fff; 
}
.dropdown .dd ul li:hover{
    background-color: #fff;
    color: #4a93f3;
}
.dropdown .dd ul li::after{
    position: absolute;
    top: 1px;
    right: 10px;
    color: #fff;
    content: '\e903';
    font-family: 'icomoon';
    font-size: 14px;
}
.dropdown .dd ul li a{
    font-size: 14px;
    color:#fff;    
}

.dropdown .dd ul li:hover a{
    color:#4a93f3;
}
.navitems ul li{
    float: left; 
}
.navitems ul li a{
    display: block;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    padding: 0 25px;
}

/* 底部模块制作 */
.footer{
    height:200px;
    background-color:#f5f5f5;
    padding-top: 30px;
    margin-top:20px;
}
.mod_service{
    height: 80px;
    border-bottom: 1px solid #ccc;
}
.mod_service ul li{
    float:left;
    width: 300px;
    height:50px;
    padding-left: 35px;
}
.mod_service ul li h5{
    float: left;
    width: 50px;
    height:50px;
    background-color: #fff;
    margin-right: 8px;
}
.service_txt h4{
    font-size: 14px;
}
.service_txt p{
    font-size: 12px;
}
.mod_help{
    height: 185px;
    border-bottom: 1px solid #ccc;
    padding-top: 20px;
    padding-left: 50px;
}
.mod_help dl{
    float: left;
    width:200px;
}
.mod_help dl:last-child{
    width: 90px;
    text-align: center;
}
.mod_help dl dt{
    font-size: 16px;
    margin-bottom: 10px;
}
.mod_copyright{
    text-align: center;
    padding-top: 20px;
}
.links{
    margin-bottom: 15px;
}
.links a{
    margin: 0 3px;
}
.copyright{
    line-height: 20px;
}