.w{
    width: 1200px;
    margin: 0 auto;
}
header{
    height: 84px;
    border-bottom: 2px solid #4a93f3;
}
.logo{
    padding-top:18px;
}
.registerarea{
    height: 522px;
    border: 1px solid #ccc;
    margin: 20px;
}
.registerarea h3{
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
    line-height: 42px;
    padding-right: 10px;
    font-size: 18px;
    font-weight: 400;
    padding: 0px 40px;
}
.login{
    float:right;
    font-size: 14px;
}
.login a{
    color: #4a93f3;
}
.reg-form{
    width: 650px;
    margin: 50px auto 0;

}
.reg-form ul li{
    margin-bottom: 20px;
}
.reg-form ul li label{
    display: inline-block;
    width:120px;
    text-align: right;
}
.reg-form ul li .inp{
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
    margin: 0px 5px;
}
.error{
    color: #4a93f3;
}
.error_icon{
    display:inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-color:#4a93f3;
    color: white;
    margin-top: -2px;
    border-radius: 50%;
}
.success{
    color: green;
}
.success_icon{
    display:inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background-color: green;
    color: white;
    margin-top: -2px;
    border-radius: 50%;
}
.safe{
    padding-left: 105px;
}
.safe em{
    padding: 0 10px;
    color: #fff;
}
.poor{
    background-color: red;
}
.med{
    background-color: green;
}

.strong{
    background-color: orange;
}
.agree{
    padding-left: 95px;
}
.agree input{
    vertical-align: middle;
}
.agree a{
    color: skyblue;
}
.btn{
    width: 200px;
    height: 34px;
    background-color:#4a93f3;
    font-size: 14px;
    color:white;
    margin: 30px 0 0 70px;
    cursor:pointer;
}
.mod_copyright{
    text-align: center;
    padding-top: 20px;
}
.links{
    margin-bottom: 15px;
}
.links a{
    margin: 0 3px;
}
.copyright{
    line-height: 20px;
}